<!DOCTYPE html>
<html>
<head>
	<title>Data Pencairan Dana Desa</title>
	  <!-- Tell the browser to be responsive to screen width -->
	  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

	<!-- DataTables -->
  	<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
</head>
<body>
	<div class="container">
	  <div class="row">
	  	<div class="col-md-12" style="height:10px;">
	  	</div>
	    <div class="col-md-12">
	    	<div class="panel panel-default">
	    		<div class="panel-heading">
	    			<h1>Data Pencairan Dana Desa</h1>
	    		</div>
	    		<div class="panel-body table-responsive">
	    			<table id="example" class="display" style="width:100%">
				        <thead>
				            <tr>
				                <th>Id Provinsi</th>
				                <th>Provinsi</th>
				                <th>Id Kabupaten/kota</th>
				                <th>Kabupaten/kota</th>
				                <th>Id Kecamatan</th>
				                <th>Kecamatan</th>
				                <th>Tahun Projek</th>
				                <th>Tahun Dimulai</th>
				                <th>Bulan Dimulai</th>
				                <th>Extn.</th>
				                <th>Start date</th>
				                <th>Salary</th>
				                <th>Name</th>
				                <th>Position</th>
				                <th>Office</th>
				                <th>Extn.</th>
				            </tr>
				        </thead>
				        <tfoot>
				            <tr>
				                <th>Id Provinsi</th>
				                <th>Provinsi</th>
				                <th>Id Kabupaten/kota</th>
				                <th>Kabupaten/kota</th>
				                <th>Id Kecamatan</th>
				                <th>Kecamatan</th>
				                <th>Tahun Projek</th>
				                <th>Tahun Dimulai</th>
				                <th>Bulan Dimulai</th>
				                <th>Extn.</th>
				                <th>Start date</th>
				                <th>Salary</th>
				                <th>Name</th>
				                <th>Position</th>
				                <th>Office</th>
				                <th>Extn.</th>
				            </tr>
				        </tfoot>
				    </table>
	    		</div>
	    		<div class="panel-footer">
	    			
	    		</div>
	    	</div>
	    </div>
	  </div>
	</div>
</body>
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!-- DataTables -->
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

<script type="text/javascript">
	$(document).ready(function() {
    $('#example').DataTable( {
        "ajax": '{{ url_for('api') }}'
	    } );
	} );
</script>

</html>